# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Docker volumes
milvus_data/
neo4j_data/

# IDE files
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env

# Temporary files
*.tmp

node_modules/
build/
backup/
.env*
.DS_Store
.ModelEngine_venv/
cline_docs/