# ArangoDB Connection Settings
ARANGO_URL=http://localhost:8529
ARANGO_DATABASE=databasename
ARANGO_USERNAME=username
ARANGO_PASSWORD=goodpassword

# Optional: Docker container settings
ARANGO_CONTAINER_NAME=hades_arangodb
ARANGO_PORT=8529
